alert("무한스크롤..");
<% @posts.each do |post| %>
  $('#myTable tbody').append(
    `
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= truncate post.contents, length: 20 %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
    </tr>
    `
  );
<% end %>
